Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/.deps
/install-sh
/Makefile
/missing
/space-game
*/collisions
/stamp-h1
*/space-game
*.deps
*/Makefile
*.o
\#*
.#*
\#*\#
*~
.dirstamp